<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body><pre>
                     <div><h1>Football player rating Calculator</h1><br><br></div>


<div></div>                         <h2>Select the player position</h2>
</div>
      <div>
        <div>
                                  
                       <a href="/input_GK">Goal_Keeper</a><br><br><br>
                        <a href="/input_FW">Forward</a><br><br><br>
                       <a href="/input_DEF">Defender</a><br><br><br>
                       <a href="/input_MID">Mid_field</a>
                
        </div>
      </div>
    </pre>
</body>
</html>