<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<h1>Football player rating Calculator</h1>
<h2>Select the player position</h2>

        <p>Select the player position</p>
          <a href="/input_GK">Goal_Keeper</a>
          <a href="/input_FW">Forward</a>
          <a href="/input_DEF">Defender</a>
          <a href="/input_MID">Mid_field</a>
                 
        </div>
      </div>
      
</body>
</html>