<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width<, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<h1>Player Characteristics</h1>
<form action="/prediction_GK" method="post">
    <label for="league_rank">League_Rank:</label><br>
    <input type="int" id="league_rank" name="league_rank" value="1"><br>
    <label for="international_reputation">International_Reputation:</label><br>
    <input type="int" id="international_reputation" name="international_reputation" value="1"><br><br>
    <label for="weak_foot">weak_foot:</label><br>
    <input type="int" id="weak_foot" name="weak_foot" value="1"><br><br>
    <label for="body_type">Body Type:</label><br>
    <input type="int" id="body_type" name="body_type" value="1"><br><br>
    <label for="Movement Reactions">Movement Reactions:</label><br>
    <input type="int" id="movement_reactions" name="movement_reactions" value="60"><br><br>
    <label for="power_shot_power">power_shot_power:</label><br>
    <input type="int" id="power_shot_power" name="power_shot_power" value="60"><br><br>
    <label for="GK attribute">GK attribute:</label><br>
    <input type="int" id="GK_attribute" name="GK_attribute" value="340"><br><br>
    <input type="submit" value="Submit">
  </form>
</body>
</html>